{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>Philippine Endangered Animals - Blog</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords" content="Dog Home Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //Meta tag Keywords -->
	<!--// Custom-Files -->

	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'css/blog.css' %}" type="text/css" media="all" />
	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all" />
	<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">

	<!-- //Font-Awesome-Icons-CSS -->
	<!-- //Custom-Files -->

	<!-- //Custom-Files -->

	<!-- Web-Fonts -->
	<link href="//fonts.googleapis.com/css?family=Nunito+Sans:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext,vietnamese"
	 rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese"
	 rel="stylesheet">
	<!-- //Web-Fonts -->

	<style>
	</style>
</head>

<body>
	<!--// main banner -->
	{% include 'components/maintop-header.html' %}
	<!-- //main banner -->
	<!--// blog -->
	<div class="blog-w3l py-5">
		<div class="container py-xl-5 py-lg-3">
			<h3 class="title-w3 text-bl text-center font-weight-bold mb-sm-5 mb-4">Our Blog</h3>
			<div class="row blog-content pt-lg-3">
				<!-- //left side -->
				<div class="col-lg-12 blog_section">
					{% for item in posts %}
							<div class="card border-0">
								<a href="{% url 'animals:view-single' item.id %}">
									<img width= "1086" height="500" class="card-img-top" src="{{ item.image.url }}" alt="">
								</a>
								<div class="card-body">
									<div class="row border-bottom pb-3">
										<div class="col-sm-6 col-4 perso-wthree">
											<h6 class="blog-first text-bl">
												<span class="fa fa-user mr-2"></span>{{ item.created_by }}
											</h6>
										</div>
										<div class="col-sm-6 col-8 info-commt text-right">
											<ul class="blog_list">
												<li>{{ item.date_posted }}</li>
											</ul>
										</div>
									</div>
									<a href="" class="text-bl font-weight-bold blog-grid-title mt-4 mb-3">{{ item.title }}</a>
									<p class="card-text">{{ item.content }}
									</p>
									<br>
									<br>
								</div>
							</div>
					{% endfor %}

				</div>
			</div>
		</div>
	</div>
	<!-- //blog -->


	<!--//footer -->
		{% include 'components/footer.html' %}
	<!--//footer -->

	<!-- move top icon -->
	<a href="#home" class="move-top text-center"></a>
	<!-- //move top icon -->

</body>

</html>