	<footer class="py-5">
		<div class="container py-xl-4">
			<div class="row footer-top">
				<div class="col-md-5 footer-grid_section_1its">
					<div class="row">
						<div class="col-lg-6 col-md-12 col-sm-6">
							<h2 class="footer-title text-uppercase text-wh mb-lg-4 mb-3">About Us</h2>
							<p>We are citizens of the Philippines that wish to spread awareness regarding the various endangered animals that are endemic to the Philippines.</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 footer-grid_section_1its my-md-0 my-5">
					<h3 class="footer-title text-uppercase text-wh mb-lg-4 mb-3">Contact Us</h3>
					<div class="contact-info">
						<div class="footer-style-w3ls">
							<h4 class="text-li mb-2">Phone</h4>
							<p>+1234567890</p>
						</div>
						<div class="footer-style-w3ls my-4">
							<h4 class="text-li mb-2">Email </h4>
							<p><a href="mailto:info@example.com">pythondreamteam@final.com</a></p>
						</div>
						<div class="footer-style-w3ls">
							<h4 class="text-li mb-2">Location</h4>
							<p>Siargao, Philippines</p>
						</div>
					</div>
				</div>
	</footer>